:root{
  --white:#fff;
}
#sidebar{
  background-color:#343;
  width:200px;
  height: calc(100vh - 56px);
}
#sidebar a{
color:var(--white);
}
#sidebar .nav-link span {
  padding-left:15px;
}
#sidebar .nav-link svg{
width: 30px;
}
.navbar-brand img{
  margin-right:10px
}
@media (max-width:768px){
  #sidebar {
    width:50px;
  }
}
